.register-form,
.reset-password-form,
.update-profile-details-form,
.update-business-profile-form {

  .ant-input-number-group-wrapper,
  .ant-input-number-in-form-item {
    width: 100% !important;
  }

  .ant-input-number-group {
    height: 100% !important;
  }

  .ant-input-number-input-wrap {
    height: 100% !important;

    input {
      height: 100% !important;
    }
  }
}



.business-register-form,
.update-profile-details-form,
.update-business-profile-form {

  .ant-select-selector,
  .ant-select-in-form-item,
  .ant-select-selection-item {
    height: 3.5rem !important;
    overflow: hidden;
    display: flex;
    align-items: center !important;
  }
}

.business-register-form,
.update-profile-details-form,
.update-business-profile-form {

  .ant-select-selector,
  .ant-select-in-form-item,
  .ant-select-selection-item {
    height: 3.5rem !important;
    overflow: hidden;
    display: flex;
    align-items: center !important;
  }
}

;

.select-virtual-account {

  .ant-select-selector,
  .ant-select-in-form-item,
  .ant-select-selection-item {
    height: 3rem !important;
    overflow: hidden;
    display: flex;
    align-items: center !important;
  }
}

// .ant-menu-item-selected,
// .ant-menu-item-active {
//   // background-color: transparent !important;
//   // color: #000000 !important;
// }
.ant-menu-item-active {
  color: #666666 !important;
}

.ant-menu-item-selected {
  background-color: rgba(0, 0, 0, 0.06) !important;
  color: #666666 !important;
}

.transaction-table {
  .ant-table-tbody {
    .ant-table-row {
      cursor: pointer !important;

      .ant-table-cell {
        cursor: pointer;
        font-size: 15px;
        font-weight: 400 !important;
        padding-top: 20px !important;
        padding-bottom: 20px !important;
      }
    }
  }
}

.ant-switch {
  background-color: hsl(var(--muted-foreground)) !important;
}

.ant-switch-checked {
  background-color: #1e88e5 !important;
}

.dash-sider {
  .ant-select-selector {
    // border: 1px solid black !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.09);
  }

  .ant-select-selector,
  .ant-select-in-form-item,
  .ant-select-selection-item {
    height: 2.3rem !important;
    overflow: hidden;
    display: flex;
    align-items: center !important;
  }

  .ant-menu-item:last-child {
    position: absolute;
    bottom: 50px;
  }

  .ant-menu-light.ant-menu-root.ant-menu-inline {
    border-inline-end: none !important;

  }
}

.live-mode-switch.ant-switch {
  .ant-switch-inner {
    background-color: #666666 !important;
  }
}

.virtual-select {
  .ant-select-selector {
    border: 1px solid rgb(30 136 229) !important;
  }
}

.live-mode-switch.ant-switch-checked {
  .ant-switch-inner {
    background-color: #1e88e5 !important;
  }
}

.dropdown-popover {
  .ant-popover-inner {
    padding: 5px 2px !important;
    margin-top: -2px !important;
  }
}

.virtual-select-form-item {
  margin: 0;
}

.filter-drawer {
  .ant-drawer-body {
    padding: 0 !important;

    .ant-select-selector {
      border: 1px solid #1677ff !important;
      border-radius: 2px !important;
    }
  }
}

.advanced-transaction-drawer {
  .ant-drawer-body {
    padding: 0 !important;
  }
}




.transaction-stat-card {
  .ant-card-body {
    padding: 10px 20px !important;
  }
}

.recent-disburseent-card,
.piechart-card {
  .ant-card-body {
    padding: 10px 0 !important;
  }
}

.send-money-card {
  .ant-card-body {
    padding: 0 20px !important;
  }
}

canvas.disbursement-pie {
  width: 300px !important;
  height: 300px !important;
}

.virtual-select-form-item.ant-form-item {
  margin: 0 !important;
}

.disbursement-modal {
  .ant-modal-content {
    padding-top: 30px;
  }
}

.single-payout-form {
  .ant-form-item {
    margin-bottom: 12px !important;
  }
}

.light {
  .dashboard-transaction-list:hover {
    background-color: #eee !important;
  }

  .ant-layout-sider,
  .ant-menu-light {
    background: #f3f3f3 !important;
    transition: all 0.2s, background 0s;
  }

  .update-api-key-webhook-form {

    .ant-input-disabled,
    .ant-input-affix-wrapper-disabled {
      background-color: rgba(255, 255, 255, 1) !important;
      color: rgba(0, 0, 0, 0.85) !important;
    }
  }

  .react-code-input {
    margin: 32px -20px 32px 0;
    text-align: center;

    input {
      margin-right: 20px !important;
      width: 60px !important;
      height: 60px !important;
      border-radius: 8px;
      outline: none !important;
      caret-color: var(--accent) !important;
      color: var(--accent) !important;
      text-align: center;
      font-weight: bold;
      background-color: #ffffff;
      background-image: none;
      border-width: 1px;
      border-style: solid;
      border-color: #d9d9d9;
      transition: all 0.2s;
    }

    input:focus,
    input:hover {
      border-color: #1668dc !important;
      // box-shadow: 0 0 0 2px rgba(0, 60, 180, 0.15) !important;
      outline: 0 !important;
    }

  }
}

.dark {
  .dashboard-transaction-list {
    border-radius: 4px !important;
  }

  .dashboard-transaction-list:hover {
    background-color: hsl(var(--background)) !important;
  }

  .ant-layout-sider,
  .ant-menu-light {
    background: hsl(var(--background)) !important;
    transition: all 0.2s, background 0s;
  }

  .ant-menu-item-active,
  .ant-menu-item-selected {
    background-color: rgba(39, 39, 42, 1) !important;
    -tw-text-opacity: 1 !important;
    color: rgb(255 255 255 / var(--tw-text-opacity)) !important;
    transition: all 0.2s, background 0s;
  }

  .update-api-key-webhook-form {

    .ant-input-disabled,
    .ant-input-affix-wrapper-disabled {
      background-color: #141414 !important;
      color: rgba(255, 255, 255, 0.85) !important;
    }
  }

  .react-code-input {
    margin: 32px -20px 32px 0;
    text-align: center;

    input {
      margin-right: 20px !important;
      width: 60px !important;
      height: 60px !important;
      border-radius: 8px;
      border: 1px solid rgba(27, 28, 30, 0.01) !important;
      outline: none !important;
      caret-color: var(--accent) !important;
      text-align: center;
      font-weight: bold;
      background-color: #141414 !important;
      color: rgba(255, 255, 255, 0.85) !important;
      border-color: #424242 !important;
    }

    input:focus,
    input:hover {
      border-color: #1668dc !important;
      box-shadow: 0 0 0 2px rgba(0, 60, 180, 0.15) !important;
      outline: 0 !important;
    }
  }

  #batch-add-reciepient-form_description {
    background-color: #141414 !important;
    border-color: #424242 !important;
    color: rgba(255, 255, 255, 0.85) !important;
  }
}