@import 'giro.min.css';

.register-form,
.reset-password-form {
  .ant-input-number-group-wrapper,
  .ant-input-number-in-form-item {
    width: 100% !important;
  }
  .ant-input-number-group {
    height: 100% !important;
  }
  .ant-input-number-input-wrap {
    height: 100% !important;
    input {
      height: 100% !important;
    }
  }
}
.react-code-input {
  margin: 32px -20px 32px 0;
  text-align: center;
  input {
    margin-right: 20px !important;
    width: 60px !important;
    height: 60px !important;
    border-radius: 8px;
    background-color: #eeeeee !important;
    border: 1px solid rgba(27, 28, 30, 0.01) !important;
    outline: none !important;
    caret-color: var(--accent) !important;
    color: var(--accent) !important;
    text-align: center;
    font-weight: bold;
  }
}

.business-register-form {
  .ant-select-selector,
  .ant-select-in-form-item,
  .ant-select-selection-item {
    height: 3.5rem !important;
    overflow: hidden;
    display: flex;
    align-items: center !important;
  }
}

// .ant-menu-item-selected,
// .ant-menu-item-active {
//   // background-color: transparent !important;
//   // color: #000000 !important;
// }
.ant-menu-item-active {
  color: #666666 !important;
}

.ant-menu-item-selected {
  background-color: rgba(0, 0, 0, 0.06) !important;
  color: #666666 !important;
}

.transaction-table {
  .ant-table-body {
    .ant-table-row {
      .ant-table-cell {
        // font-size: 16px;
        font-weight: 500;
        padding-top: 20px !important;
        padding-bottom: 20px !important;
      }
    }
  }
}

.business-selector {
  .ant-select-selector {
    // border: 1px solid black !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.09);
  }
}

.live-mode-switch.ant-switch {
  .ant-switch-inner {
    background-color: #666666 !important;
  }
}

.live-mode-switch.ant-switch-checked {
  .ant-switch-inner {
    background-color: rgb(4, 219, 4) !important;
  }
}

// .ant-switch-checked,
// .ant-switch-unchecked {
//   position: relative !important;
// }

// .ant-switch-checked,
// .ant-switch-unchecked {
//   svg {
//     position: absolute !important;
//   }
// }

// .ant-switch-checked {
//   svg {
//     left: -5px !important;
//     top: 2px !important;
//     font-size: 18px !important;
//   }
// }

// .ant-switch-unchecked {
//   svg {
//     top: 23px !important;
//     font-size: 20px !important;
//   }
// }
